.editor-container{
    overflow: auto;
    height: 300px;
    max-width:60vw;
    width: 100%;
    border-bottom: .5px solid lightgray;
    font-size: 1rem;
}
.ql-editor{
    font-size: 1rem !important;
    color: #444 !important;
    padding: 10px; 
}
@media (max-width: 420px){
    .ql-editor{
        font-size: .8rem !important;
    }
}